
.bot-alert{
    margin-top:1.5em;
    animation-name: disappear;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0, 0, 1,0.11);
    animation-fill-mode: forwards;
  }
@keyframes disappear {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }

}
  
