<h1>Change Password</h1>
<form action="/changePassword" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" required  name="email" aria-describedby="email" >
    </div>
    
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input type="password" required class="form-control" name="oldPassword" >
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" required  class="form-control" name="newPassword" >
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
    <input type="hidden" name="returnUrl" value="<%= returnUrl %>"/>
    <input type="hidden" name="userId" value="<%= userId %>"/>
</form>

<% if(errorMessage != undefined){ %>
    <div class="bot-alert alert alert-danger" role="alert">
        <%= errorMessage %>
    </div>
 <% } %>
